doctype html
html(lang="en")
    head
        title Form Input
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js")
    body
      div(class="container")
        h1 Inserisci il tuo nome
        form(action="/submit", method="POST")
            label(for="nome") Nome:
            input(type="text", name="nome" id="nome")
            button(type="submit") Invia